body {
    padding: 0%;
    margin: 0%;
    
}

.container {
    display: flex;
    background-image: url('../images/login_signup.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    width: 400px;
}

.text {
    margin: 20px;
    padding: 10px;
    width: 80%;
    height: 30px;
    border-bottom-color: black;
    border: none;
    background-color: rgb(200, 203, 243);
    font-size: 20px;
    font-family: Helvetica;
    
}

.filename {
    margin: 20px;
    padding: 10px;
    width: 80%;
    height: 30px;
    border-bottom-color: black;
    border: none;
    background-color: rgb(235, 235, 238);
    font-size: 20px;
    font-family: Helvetica;
    color: black;
}

.search-bar {
    font-family: Helvetica;
    font-size: 30px;
    margin: 20px;
    color:rgb(169, 126, 58);
    font-weight: bold;
}
input[type=text] {
    width: 150px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 50%;
  }

.form {
    flex: 1;
  /* background: rgb(175, 178, 228) */
  background-image: url('../images/login_signup.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  /* Just so it's visible */
}

textarea {
    width: 95%;
    /* height: 100%; */
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin: 20px;
}


.save-btn {
    display: inline-block;

    background-color: #3838d8;
    font-family: Helvetica;
    font-size: 15px;
    margin: 5px;
    padding: 10px;
    position: absolute;
    right: 10px;
    /* width: 80px; */
    width: max-content;
    height: 50px;
    margin-top: 21px;
    border-radius: 15px;
    display: inline-block;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
  }
  button:hover {
    background-color: #cab7d6;
  }
  button:hover span {
    padding-left: 25px;
  }
  button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .choose-btn {
    display: inline-block;

    background-color: #3838d8;
    font-family: Helvetica;
    font-size: 15px;
    margin: 40px;
    padding: 10px;
    position: absolute;
    right: 100px;
    width: 200px;
    height: 20px;
    border-radius: 15px;
    display: inline-block;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}

li {
    list-style-type: none; 
    margin: 10px;
    /* background-color: coral; */
    font-size: 18px;
    padding-left: 10px;
    color:rgb(36, 34, 178);
    background-color: rgb(227, 227, 227);
    ;
    /* flex: 1; */
}
.open-btn {
    background-color: #3870d8;
    font-family: Helvetica;
    font-size: 15px;
    margin: 5px;
    border-radius: 15px;
    position: relative;
    margin: 10px;
    width: 60px;
    height: 30px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    transition: all 0.5s;
    left: 100px;
    flex: 1;
}

.btn {
  background-color: #3c5bd8;
  font-family: Helvetica;
  font-size: 15px;
  margin: 5px;
  border-radius: 15px;
  position: relative;
  margin: 10px;
  width: max-content;
  height: 60px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  transition: all 0.5s;
  left: 100px;
}